parameters:
	ignoreErrors:
		-
			message: '#^Method Ergebnis\\KeepAChangelog\\Entry\:\:__construct\(\) has parameter \$notes with a nullable type declaration\.$#'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: src/Entry.php

		-
			message: '#^Method Ergebnis\\KeepAChangelog\\Entry\:\:create\(\) has parameter \$notes with a nullable type declaration\.$#'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: src/Entry.php

		-
			message: '#^Method Ergebnis\\KeepAChangelog\\Entry\:\:notes\(\) has a nullable return type declaration\.$#'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: src/Entry.php

		-
			message: '#^Method Ergebnis\\KeepAChangelog\\ReleaseList\:\:first\(\) has a nullable return type declaration\.$#'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: src/ReleaseList.php

		-
			message: '#^Method Ergebnis\\KeepAChangelog\\Repository\:\:__construct\(\) has parameter \$initialCommit with a nullable type declaration\.$#'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: src/Repository.php

		-
			message: '#^Method Ergebnis\\KeepAChangelog\\Repository\:\:create\(\) has parameter \$initialCommit with a nullable type declaration\.$#'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: src/Repository.php

		-
			message: '#^Method Ergebnis\\KeepAChangelog\\Repository\:\:initialCommit\(\) has a nullable return type declaration\.$#'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: src/Repository.php

